body {
	font: 100%;
}
article,aside,dialog,footer,header,section,footer,nav,figure,menu{
	display:block
}
nav {
	font-size: 1.5em;
}
.nav-header {
	width: 80%;
	margin: 0px auto;
	height: 10%;
}
.main-body {
	
}
footer {
	position: absolute;
	width: 80%;
	left: 10%;
	bottom: 0;
}
.copyright {
	text-align: center;
}
.copyright span{
	text-align: center;
	display: block;
}